body{
    background-color: #FFF;
    border: 2px solid red;
    
    border-radius: 10px;
}

header, footer{
    text-align: center;
    margin: 50px auto 0 auto;
    width: 300px;
}

main{
    margin: 30px auto 0 auto;
    padding: 0 50px;
    width: 300px;

}


input{
    max-width: 140px;
}

#resultado input{
    max-width: 60px;
}

.grid{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    padding: 2px 0;
}