body{
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 100vh;
    
}

.container{
    border-radius: 10px;
    background-color: aqua;
}

main{
    max-width: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0 15vh;
    
}

/*header*/


.flex{
    display: flex;
    justify-content: center;
  

}


.flex h1{
    padding: 5vh 0;
    font-size: 3vh;
    font-weight: 700;
}

/*main*/
.grid{
    display: grid;
    grid-template-columns: 1fr ;
    padding: 2vh 0 2vh 0;
    
}

.grid label{
    text-align: start;
}

/*form*/
form {
    padding: 5vh; 

}

form .itemform{
    padding: 0 10vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

input{
    width: 10vh;
}


/*resultado*/

.resultado{ 
    padding: 3vh 0;
}

.resultado .grid{
    padding: 1vh 20vh;
}


/*footer*/

footer{
    padding: 5vh;
    max-width: 100vh;
    font-size: 10px;
    display: flex;
    justify-content: space-between; 
   
}

#error{
    text-align: center;
    color: #fd0c49;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

}

