/*Queremos poner a prueba lo que has aprendido y para ello seguiremos con el ejercicio planteado en el vídeo anterior. 
En este caso añadiendo todo el diseño a nuestro formulario:

Elegiremos un color de fondo y diferentes colores para borders e inputs
Elegiremos también un font desde google fonts
Añadiremos paddings y margins adecuados para que nuestro formulario se vea centrado igual que hemos hecho con el vídeo
No os olvidéis de usar Flex para que el diseño resulte mucho más sencillo*/

body{
    font-family: "Kode Mono", monospace;
}

header, footer{
    text-align: center;
    margin: 30px auto 0 auto;
    width: 300px;
}

main{
    margin: 30px auto 0 auto;
    width: 300px;
}

form, .itemform{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

label{
    margin: 10px 0 0 0;
}

input,select{
    display: inline;
    font-family: "Kode Mono", monospace;
    width: 300px;
    border: 1px solid #ced4de;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]{
    background-color: #fd0c49;
    color: #fff;
    margin: 20px 0 0 0;

}

footer{
    font-size: 15px;
}


/*id's*/

#error{
    text-align: center;
    color: #fd0c49;
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
}